{% extends 'base.html.twig' %}

{% block title %}Mon panier - La Boutique Française{% endblock %}

{% block content %}

        <h1>Mon panier</h1>
        <p>Retrouver l'ensembre des produits que vous avez ajouté à votre panier.</p>

        {% if cart|length > 0 %}
        
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% set total = null %}
                    {% for product in cart %}
                        <tr>
                            <td>
                                <img src="/uploads/products/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px">
                            </td>
                            <td>
                                {{ product.product.name }}<br>
                                <small>{{ product.product.subtitle }}</small>
                            </td>
                            <td>
                                <a href="{{ path('decrease_to_cart', {'id' : product.product.id}) }}"><img src="{{ asset('assets/img/less.png')}}" alt="Retirer un produit" height="10px"></a>
                                {{ product.quantity }}
                                <a href="{{ path('add_to_cart', {'id' : product.product.id}) }}"><img src="{{ asset('assets/img/add.png')}}" alt="Ajouter un produit" height="10px"></a>

                            </td>
                            <td>{{ (product.product.price / 100)|number_format(2, ',', '.') }} €</td>
                            <td>{{ ((product.quantity * product.product.price) / 100)|number_format(2, ',', '.') }} €</td>
                            <td>
                                <a href="{{ path('delete_to_cart', { 'id' : product.product.id } ) }}">
                                    <img src="{{ asset('assets/img/trash.png')}}" alt="Supprimer mon produit" height="20px">
                                </a>
                            </td>
                        </tr>

                        {% set total = total + (product.quantity * product.product.price) %}

                    {% endfor %}
                </tbody>
            </table>
            <div class="text-right mb-5">
            <p class="mb-2"><b>Nombre de produits :</b> {{ cart|length }}</p>
            <p class="mb-2"><b>Total de mon panier :</b> {{ (total / 100)|number_format(2, ',', '.') }} € </p>
            <a href="{{ path('order')}}" class="btn btn-success mt-4 btn-block">Valider mon panier</a>
            </div>
        {% else %}
            <hr>
            <p><b>Votre panier est vide.</b></p>
        {% endif %}

{% endblock %}
