{% extends 'base.html.twig' %}

{% block title %}Mon compte - La Boutique Française{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <small><a href="/admin">Vous êtes un administrateur, accèder au backoffice ?</a></small><br>
    {% endif %}
    <p>Bienvenue {{ app.user.firstname }} dans votre compte. <br>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.</p>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="account-item">
                <a href="{{ path('account_password')}}">
                <img src="{{asset('assets/img/padlock.png')}}" alt="Modifier mon mot de passe"><br><br>
                Modifier mon mot de passe</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item">
                <a href="{{ path('account_adress')}}">
                <img src="{{asset('assets/img/address.png')}}" alt="Gerer mes adresses"><br><br>
                Gérer mes adresses</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item">
                <a href="{{ path('account_order')}}">
                <img src="{{asset('assets/img/shopping-cart2.png')}}" alt="Voir mes commandes"><br><br>
                Voir mes commandes</a>
            </div>
        </div>
    </div>
{% endblock %}
